.ab{
    color: white;
    
    
    
}
.n1{
    background-image: url("http://wallpapercave.com/wp/MwWqtVu.jpg");
    height: 1000px;
    display: grid;
    place-content: center;
}
.gh{
    margin-top: 100 px;
   
}
.b1{
    margin-left: 20px;
}
.b2{
    margin-left: 20px;     
}
.b3{
    margin-left: 20px;
}